
<div class="container">
    <div class="row">
        <div class="col l6">
            <br>
            <div class="row">
                <h2>Add A New Book</h2>
                <form action="/addbook" method="post">
                    <label class="label">Title</label>
                    <input type="string" name="title">

                    <label class="label">Genre</label>
                    <input type="string" name="genre">


                    <label class="label">Description</label>
                    <input type="text" name="description">

                    <label class="label">Cover Image</label>
                    <input type="string" name="cover_url">

                    <button class="lime darken-3 lighten-1 waves-effect waves-light btn" type="submit">Add It!</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>
