<div class="container">
  <div class="row">
       <div class="col l6 m3">
         <div class="card">
           <div class="card-image">
             <img src="{{this.cover_url}}">
             <span class="card-title"></span>
            </div>
            <div class="card-content">
            </div>
            <div class="card-action">
             <a href="/book">See All Books Here</a>
           </div>
         </div>
        </div>
     </div>
  </div>
